@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
	{
		<li class="dropdown notification-list topbar-dropdown">
			<a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
				@*<img src="assets/images/users/user-1.jpg" alt="user-image" class="rounded-circle">*@
				<span class="pro-user-name ms-1">
					<i class="fe-user"></i>
					@*@User.Identity?.Name!*@
				</span>
			</a>
			<div class="dropdown-menu dropdown-menu-end profile-dropdown ">
				<!-- item-->
				<div class="dropdown-header noti-title">
					<h6 class="text-overflow m-0">Welcome !</h6>
				</div>

				<!-- item-->
				<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!
					@*<i class="fe-user"></i>*@
				</a>

				<div class="dropdown-divider"></div>

				<!-- item-->
				<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					@*<i class="fe-log-out"></i>*@
					<button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
				</form>

			</div>
		</li>
    @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>*@
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
